*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }
  

a {
    text-decoration: none;
}

.arriba {
    position: fixed;
    top: 85vh;
    left: 90%;
}

.arriba img {
    border-radius: 30px;
    border: solid 4px #F2FFE9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.index {
    background-color: #F2FFE9;
}

.img-nombre {
    background-image: url(img/nombre_inicio.png);
    width: 100%;
    height: 60vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 11px 0px;
}

.nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    
}

.nombre h2 {
    font-family: Kavoon;
    font-size: 1.2em;
    color: #1D4D55;
    font-weight: 300;
}

.section-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-botones{
    width: 45%;
}
.botones-inicio {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.botones-inicio li {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    
}

.botones-inicio a {
    text-decoration: none;
    border: solid 3.5px #1D4D55;
    border-radius: 29px;
    padding: 10px 15px;
    font-family: Kavoon;
    font-size: 1em;
    color: #1D4D55;
    font-weight: 300;
    width: 100px;
    text-align: center;
}

.botones-inicio a:hover {
    background-color: #FA7070;
    color: #F2FFE9;
}

header {
    display: flex;
    justify-content: center; 
    padding: 30px 0px 40px 0px; 
}

.curriculum-nav {
    max-width: 700px;
    width: 50%;
}

.curriculum-nav-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.curriculum-nav-ul li{
    list-style-type: none;
}

.texto-nav a {
    padding: 7px 15px;
    border: solid 4px #1D4D55;
    border-radius: 30px;
}

.curriculum-nav-ul a {
    text-decoration: none;
    color: #1D4D55;
    font-family: Kavoon;
}

.texto-nav a:hover {
    background-color: #FA7070;
    color: #F2FFE9;
}

footer {
    background-color: #557C55;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0px;
    gap: 15px;
}

footer ul {
    display: flex;
    gap: 50px;
}

footer ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer ul li a, footer h5{
    text-decoration: none;
    color: #F2FFE9;
    font-family: Piazzolla;
    font-size: 0.8em;
}

.main-fondos{
    background-image: url(img/fondo-02-02.png);
    background-position: center top;
    background-size: 100% auto;
}

.ir-index {
    width: 60px;
    
}

.ir-index a img {
    transition: transform 0.2s ease;
}

.ir-index a img:hover{
    transform: scale(110%);
}

.foto {
    background-image: url(img/foto_perfil2.jpg);
    background-size: cover;
    height: 400px;
    width: 351px;
    border: solid 4px #1D4D55;
    border-radius: 30px;
}

.foto-nombre {
    padding-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.yanina-carlomagno h2, .yanina-carlomagno h1{
    color: #1D4D55;
    font-family: Kavoon;
    font-size: 3em;
    font-weight: 400;
}

.info-curriculum {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-curriculum p {
    color: #1D4D55;
    font-family: Piazzolla;
    font-size: 1em;
    font-weight: 400;
    max-width: 550px;
}

.negrita {
    font-weight: 700;
}

.Nombre-info {
    width: 40%;
    padding-left: 70px;
    max-width: 600px;
}

.habilidades {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.ingles-bloque {
    width: 351px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.argentina, .ingles-entiendo {
    text-align: end;
}

.habilidades-apps {
    width: 40%;
    padding-left: 70px;
    max-width: 600px;
    
}

.habilidades-apps h3{
    color: #1D4D55;
    font-family: Kavoon;
    font-size: 1.5em;
    font-weight: 400;
}

.iconos-apps ul {
    display: flex;
    gap: 10px;
    max-width: 500px;
    flex-wrap: wrap;
    padding: 25px 0px 10px;
}

.habilidades-apps p {
    color: #1D4D55;
    font-family: Piazzolla;
    font-size: 1em;
    font-weight: 400;
}

.iconos-apps ul li {
    list-style-type: none;
}

.ingles-bloque {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ingles-bloque p {
    color: #1D4D55;
    font-family: Piazzolla;
}

.ingles {
    color: #1D4D55;
    font-family: Piazzolla;
    font-size:2em;
    font-weight: 700;

}

.experiencia-titulo {
    padding-top: 60px;
}

.experiencia-titulo p {
    font-size: 0.8em;
    padding-bottom: 10px;
}

.experiencia ul {
    list-style-type: none;
    padding-bottom: 70px;
    max-width: 600px;
}

.experiencia ul h4 {
    color: #1D4D55;
    font-family: Piazzolla;
    font-size: 1em;
    font-weight: 700;
    padding-top: 10px;
}

h5 {
    color: #1D4D55;
    font-family: Piazzolla;
    font-size: 0.8em;
    font-weight: 700;
    padding-bottom: 5px;
}

.proyectos {
    padding: 30px 0px 70px;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.ilustraciones {
    background-image: url(img/ilustraciones/curita-arreglado-01.jpg);
    background-size: cover;
    background-position: center;
    width: 430px;
    height: 569px;
    border-radius: 30px;
    border: 4px solid #1D4D55;
    display: flex;
    align-items: center;
    justify-content: center;

}

.identidades {
    background-image: url(img/ilustraciones/buzo-verde.jpg);
    background-size: cover;
    background-position: center;
    width: 430px;
    height: 569px;
    border-radius: 30px;
    border: 4px solid #1D4D55;
    display: flex;
    align-items: center;
    justify-content: center;
}

.identidades h2, .ilustraciones h2 {
    width: 60%;
    text-align: center;
    color: #F2FFE9;
    font-family: Kavoon;
    font-weight: 400;
}

.ilustraciones-overlay, .identidades-overlay {
    width: 430px;
    height: 569px;
    position: absolute;
    border-radius: 30px;
    border: 4px solid #1D4D55;
    background-color:rgba(0, 0, 0, 0.8);
    top: 155px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.ilustraciones-overlay:hover, .identidades-overlay:hover {
    opacity: 1;
}


.boton-identidades a, .boton-ilustraciones a {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
    
}



.boton-identidades-div {
    background-image: url(img/ilustraciones/buzo-verde.jpg);
    background-size: cover;
    width: 85%;
    height: 100px;
    border-radius: 30px;
    border: solid 4px #1D4D55 ;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.boton-ilustraciones-div {
    background-image: url(img/ilustraciones/curita-arreglado-01.jpg);
    background-size: cover;
    width: 85%;
    height: 100px;
    border-radius: 30px;
    border: solid 4px #1D4D55 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botton-identidades-overlay h2, .botton-ilustraciones-overlay h2 {
    color: #F2FFE9;
    text-align: center;
    font-family: Kavoon;
    font-size: 1em;
    font-weight: 400;

}

.botton-identidades-overlay h3, .botton-ilustraciones-overlay h3{
    color: #F2FFE9;
    text-align: center;
    font-family: Piazzolla;
    font-size: 0.7em;
    font-weight: 400;
}

.botton-identidades-overlay, .botton-ilustraciones-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100px;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    border: solid 4px #1D4D55 ;
}

.boton-identidades a:hover, .boton-ilustraciones a:hover {
    transform: scale(105%);
}

.ilustraciones-galeria {
    padding: 50px 0px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ilustraciones-galeria h2 {
    width: 85%;
    color: #1D4D55;
    font-family: Kavoon;
    font-size: 1.7em;
    font-weight: 400;
}

.ilustraciones-galeria h3 {
    width: 85%;
    color: #1D4D55;
    font-family: Piazzolla;
    font-size: 1em;
    font-weight: 400;
}

.container-galeria {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px 0px;
   
}

.galeria {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px,360px));
    justify-content: center;
    align-content: center;
    grid-gap: 10px;

}

.galeria a {
    transition: transform 0.3s ease;
}


.galeria a:hover {
    transform: scale(103%)
}

.galeria-identidades {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(404px,404px));
    justify-content: center;
    align-content: center;
    grid-gap: 15px;
}

.galeria-identidades iframe {
    border: solid 4px #1D4D55;
    border-radius: 30px;
}



.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0px 120px;

}

form h2 {
    color: #1D4D55;
    font-family: Kavoon;
    font-size: 2em;
    font-weight: 400;
}

.formulario form {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 440px;
    flex-wrap: wrap;
}

.nombre_apellido {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    max-width: 700px;
}

.label_nombre, .label_apellido, .label_mail, .label_telefono, .label_descripcion {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #1D4D55;
    font-family: Piazzolla;
    font-size: 1em;
    font-weight: 700;

}

.labels-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    background-color: #F2FFE9;
    border: solid 3px #557C55;
    border-radius: 10px;
    height: 25px;
    color: #1D4D55;
    font-family: Piazzolla;
    font-size: 1em;
    font-weight: 700;
    padding: 5px 10px;
}

textarea {
    height: 40px;
}


.enviar {
    margin-top: 15px;
    width: 100%;
    background-color: #A6CF98;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    height: 35px;
}

.enviar:hover {
    background-color: #FA7070;
    color: #1D4D55;
}


/* media*/

@media (max-width: 900px)

{
    .nombre {
        margin-top: 90px;
    }

    .img-nombre {
        width: 88%;
        height: 33vh;
    }

    .botones-inicio {
        flex-direction: column;
    }

    .botones-inicio li {
        margin-bottom: 15px;
        
    }

    .botones-inicio a {
        width: 200px;
    }

    .ingles-bloque{
        width: 80%;
    }
    
    .foto-nombre {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .foto {
        height: 300px;
        width: 251px;
    }

    .Nombre-info {
        width: 80%;
        padding: 30px 0px 0px 0px;
    }

    .info-curriculum {
        padding-top: 15px;
    }

    .habilidades {
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
    }

    .habilidades-apps {
        width: 80%;
        padding: 25px 0px 0px;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
    }

    header {
        padding: 0px;
    }

    .curriculum-nav-ul {
        flex-direction: column-reverse;

        gap: 30px;
        padding-top: 50px;
    }

    .proyectos {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 70px 0px;
    }

    .ilustraciones, .identidades {
        width: 230px;
        height: 129px;
        border: 0px;
    }

    .ilustraciones-overlay {
        width: 230px;
        height: 129px;
        position: relative;
        border-radius: 30px;
        border: 4px solid #1D4D55;
        background-color:rgba(0, 0, 0, 0.5);
        top: 0px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }

    .identidades-overlay {
        width: 230px;
        height: 129px;
        position: relative;
        border-radius: 30px;
        border: 4px solid #1D4D55;
        background-color:rgba(0, 0, 0, 0.5);
        top: 0px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }

    .identidades h2, .ilustraciones h2 {
        font-size: 1em;
        width: 80%;
    }

    .galeria a img {
        width: 254px;
        height: 360px;
    }

    .galeria, .galeria-identidades {
        grid-template-columns: repeat(auto-fit, minmax(254px,254px));
        grid-gap: 10px;
    
    }

    .boton-identidades, .boton-ilustraciones {
        padding-top: 70px;
    }

    .galeria-identidades iframe {
        width: 254px;
        height: 216px;
    }

    .arriba {
        position: fixed;
        top: 85vh;
        left: 80%;
    }
    
    .arriba img {
        width: 35px;
        height: 35px;
    
    }

    .formulario {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .formulario form {
        width: 85%;
    }

    .nombre_apellido {
        flex-direction: column;
    }
}